
/* Estilo productos */

#nuestros-productos{
    display: flex;
    align-items: center;
    flex-direction: column;    
}

#nuestros-productos .caja{
    display: flex;
    flex-direction: column;  
}

#nuestros-productos img {
    height: 250px;
    width: 250px;
    image-resolution: auto;
    border-radius: 10px;
}

#nuestros-productos .cajitas {
    padding: 20px;    
}

#nuestros-productos .cajitas form {
    display: flex;
    margin-top: 20px;
    justify-content: center;          
}

/* Termina estilo productos */

/* Estilo servicios */

#nuestros-servicios {
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

#nuestros-servicios .caja{
    display: flex;
    flex-direction: column;
    margin: auto;   
}

#nuestros-servicios img {
    height: 250px;
    width: 250px;
    image-resolution: auto;
    border-radius: 10px;
}

#nuestros-servicios .cajitas {
    padding: 20px;    
}

#nuestros-servicios .cajitas form {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

/* Termina estilo servicios */

/* Estilo información adicional */

#info {
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

#info .caja {    
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin:auto    
}

#info .cajitas {   
    padding: 20px;
    align-items: center;
    justify-content: center;
}


#info .centrar {
    display: flex;
    align-items: center;
    justify-content: center;   
}

#info img {
    height: 115px;
    width: 115px;
    border-radius: 10px;
}

/* Termina estilo info */

/* Estilo footer */

footer {
    background-color: rgb(200, 200, 200);
}

footer li {   
    display: flex;
    justify-content: center;
}

/* Termina estilo footer */

#frases-motivacionales {

    background-color: rgb(40,40,40);
}
#frases-motivacionales p{

   color:aliceblue; 
}

#lastlist {
    margin-bottom: 0;
    padding-left:0;
}


@media (min-width: 768px) {
    header .caja {
        flex-direction:row;
        justify-content: space-around;
    }

    header img {
        height: 150px;
        width: 150px;
        border-radius: 20px;
    }
    header nav{
        flex-direction:row;
        padding-top: 65px;
        padding-right: 100px;
    }
    header nav a {
        justify-content: center;
        align-items: center;
    }

    #encabezado img{
        max-width: 992px;    
        height: 500px;
        margin: auto;
    }
    #nuestros-productos .caja{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }               
    #nuestros-servicios .caja{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #info img {
        height: 150px;
        width: 150px;
        border-radius: 10px;
    }
    #info .cajitas {  
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
} 

@media (min-width: 992px) {

    main .separacion{
        justify-content: space-evenly;
    }

}
