//Variables globales 

//colors
$titlecolor:rgb(160, 115, 202);
$bgcolorse:rgb(200, 200, 200);
$bgcolorm:rgb(40, 40, 40);
$lbgcolor:white;
$colornav:rgb(40, 40, 40);
$btnbgcolor:blueviolet;
$btncolor:whitesmoke;

//fonts 

$mainfont:'Roboto', sans-serif;

//sizes 

$primarytitle:2.25em;
$secondarytitle:1.75em;
$normaltext:1.25em;








